<a routerLink="../edit-memory">Edit memory </a>

<div class="memory">
  <img [src]="picture" class="memory-header">
  <i class="fa fa-angle-left" aria-hidden="true" routerLink="../dashboard"></i>

  <div class="memory-body">
    <div class="tags-container" *ngIf="tags.length>0">
      <span  *ngFor="let tag  of tags">
       &#35;{{tag.tagName}}
      </span>
    </div>
    <h1>{{title}}</h1>
    <h4>{{location}}</h4>
    <h4>{{date}}</h4>
    <p>{{description}}</p>
    <div class="photo-friend" *ngIf="users.length>0">
    <div *ngFor="let user  of users" class="photo-item">
      <img   [src]="user.profilePicture" class="profile-picture">
      <h4>{{user.name}}</h4>
    </div>
    </div>
    <div class="masonry" *ngIf="medias.length>0">
      <img  *ngFor="let media of medias" [src]="media.mediaPath">
    </div>
  </div>



</div>


<div class="my-alert alert-information" *ngIf="tags.length===0 && users.length===0 && medias.length===0" >
  <div class="alert-body">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <h4>Userul nu are informatii suplimentare pentru memorie</h4>
  </div>
</div>
