.tile {
  width: 30%;
  background-color: #EEEEEE;
  height: 160px;
  margin: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px; }
.tile .profile-picture {
  width: 100px;
  height: 100px;
  background-size: 100px auto; }

.tile:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); }

.tile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around; }

.tile-row {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between; }


.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  width: 70%; }

@media (max-width: 1024px) {
  .tile-row {
    flex-direction: column; }

  .tile {
    width: 80%; } }

