<div class="result" *ngIf="notEmpty===false">
<div class="tile" *ngFor="let friend of friends" >
  <img [src]="friend.profilePicture" class="profile-picture">
  <div class="info-container">
    <h2>{{friend.name}}</h2>
    <h3>{{friend.city}} {{friend.country}}</h3>
    <h5>Friends from: {{friend.dateFriends}}</h5>
    <div class="action-delete" (click)="deleteFriend(friend.friendId)">
      <i class="glyphicon glyphicon-trash"></i>
      <h5>Delete</h5>
    </div>

    <div class="action-edit" (click)="viewMore(friend.friendId)">
      <i class="glyphicon glyphicon-trash"></i>
      <h5>View timeline</h5>
    </div>
  </div>
</div>
</div>

<div class="result" *ngIf="notEmpty===true">
  <button (click)="changeEmpty()"></button>
  <div class="memory" *ngFor="let memory of friendMemories">
    <img [src]="memory.mainPicture" class="memory-header">
    <div class="memory-body">
      <ul class="action-list">
        <li class="action-edit">
          <i class="glyphicon glyphicon-pencil"></i>
          <h5>Edit</h5>
        </li>
        <li class="action-delte" (click)="deleteMemory(memory.memoryId)">
          <i class="glyphicon glyphicon-trash"></i>
          <h5>Delete</h5>
        </li>
        <li class="action-see">
          <i class="glyphicon glyphicon-eye-open"></i>
          <h5>See more</h5>
        </li>
      </ul>
      <div class="memory-title">
        <h3>{{memory.title}}</h3>
        <h5>{{memory.memoryLocation}}</h5>
        <h6>{{memory.date}}</h6>
      </div>
      <div  *ngFor="let tag of memory.tags">
        <h4>{{tag}}</h4>
      </div>
      <div class="memory-text">
        <span>{{memory.description}}</span>
      </div>
    </div>
  </div>

</div>
<div class="alert-friends" *ngIf="alert===true">
  <i class="glyphicon glyphicon-ok-sign"></i>
  <h5>Userul nu are memorii</h5>
</div>
