<div class="my-header" id=nav>
  <ul>
    <li data-elem="parallax"><a href="#home">HOME</a></li>
    <li data-elem="about"><a href="#about">CREATORS</a></li>
    <li data-elem="works"><a href="#works">DILY</a></li>
    <li data-elem="skills"><a href="#skills">MEMORY</a></li>
    <li data-elem="contacts"><a data-toggle="modal" data-target="#myModal2">LOG IN</a></li>
  </ul>
</div>
<header class="clearfix" id="home">
  <div class="banner parallax scroll" id="parallax">
    <div class="container">

      <div class="row">
        <img src="http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/scroll_zpsga4ggudw.png" alt="" class="image-responsive center-block scroll-down">
      </div>
    </div>
  </div>
</header>

<section class="about scroll" id="about">
  <div class="container">
    <div class="row">
      <div class="text-center about-content">
        <h2>Hi there!</h2>
        <div class="pictures">
          <div class="profile-picture1">
          </div>
          <div class="profile-picture2">
          </div>
        </div>
        <p class="about-text">
          We are Spiridon Andra and Rusu Madalina, we are from Iasi, Roamnia.
          We are very passionate about computer science, travels and photos and we didaded to make something
          to share with you this passions. We decided to make this application in order to help you to have a
          cool experience in sharing memoryes with your friends. Hope you like it. Have fun!! :)
        </p>
      </div>
    </div>
  </div>
</section>


<section class="works scroll" id="works">
  <div class="container">
    <div class="text-center about-content">
      <div class="row">
        <div class="about-dily">
          <img class="timeline-img" src="../assets/images/photo5.png">
          <div class="text-center about-content">
            <h2 class="text-center">
              What is Dily?
            </h2>
            <p class="about-text">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAs
              Dily is a service that allows you to plot your life's timeline by remembering the
              important moments you experienced and the people you shared them with. Here you can easily add
              memoryes from your holidays or other important days in your life in order to share
              them to your friends. And because moments are better with photos, Dily momoryes are a
              great reason to bring your old photos into the digital world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills scroll" id="skills">
  <div class="container">
    <div class="text-center about-content">
      <div class="row">
        <div class="about-dily">
          <img class="memory-img" src="../assets/images/photo5.png">
          <div class="text-center about-content">
            <h2 class="text-center">
              What is a memory?
            </h2>
            <p class="about-text-white">
              A memory can be anything such as a favourite holiday with your best friends,
              a great party, a wedding or that amazing concert you went to.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <h2 class="text-center">Get in touch</h2>
    <div class="row contact">
      <div class="col-md-6 text-right">
      </div>
      <div class="col-md-6">
        <div class="contacts-data">
          <i class="fa fa-paper-plane fa-2x"></i>
          <span class="contact-text">digital.legacybox@gmail.com</span>
        </div>
        <div class="contacts-data">
          <i class="fa fa-phone fa-2x"></i>
          <span class="contact-text">+380992404527</span>
        </div>
        <div class="contacts-data">
          <i class="fa fa-skype fa-2x"></i>
          <span class="contact-text">digital.legacybox</span>
        </div>
      </div>
    </div>

  </div>
</footer>
<div id="myModal2" class="task-modal modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <section class="wrapper">
        <ul class="tabs">
          <li class="active">Log in</li>
          <li>Sign up</li>
        </ul>

        <ul class="tab__content">
          <li class="active">
            <div class="content__wrapper">
              <h2 class="text-color">Log in</h2>
              <app-form></app-form>
            </div>
          </li>
          <li>
            <div class="content-wrapper-signup">
              <h2 class="text-color">Sign up</h2>
              <form>
                <div class="custom-input">
                  <input type="text" placeholder="Name" name="name" class="large-input" required>
                </div>
                <div class="input-pair">
                  <div class="custom-input">
                    <input type="text" name="username" placeholder="username" required>
                  </div>
                  <div class="custom-input">
                    <input type="password" name="password" placeholder="password" required>
                  </div>
                </div>
                <div class="input-pair">
                  <div class="custom-input">
                    <input type="text" name="email" placeholder="email" required>
                  </div>
                  <div class="custom-input">
                    <input type="date" name="date-of-birth" placeholder="date of birth" required>
                  </div>
                </div>

              </form>
              <button class="custom-button"><a href="#">sign up</a></button>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
