/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway:100i,200,300,400');
/*MAIN COLORS AND FONTS*/
$main-green: #43cea2;
$main-blue: #185a9d;
$dark-grey: #757575;
$light-grey: #E0E0E0;
$white: #ffffff;
$red: rgb(231,76,60);

*{
  margin:0;
  padding:0;
 // font-family: 'Raleway', sans-serif;
  //color: $dark-grey;
}
i:focus, i:active, button:focus , button:active{
  outline: none;
}
.toggle{
  width: 5%;
}
app-settings , app-tagged{
  width:100% !important;
}
.right-container.expand{
  width: 95% !important;
  transition-property: top,bottom, width;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
}
.alert{
  padding: 10px 0;
  margin-bottom: 15px;
}
body{
  width:100vw;
  height: 100vh;
  overflow-x: hidden;
}
app-left-menu /deep/{
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  //background: linear-gradient(135deg, #a6c0fe, #f68084);
  transition-property: top,bottom, width;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  //background: linear-gradient(135deg, #43cea2, #185a9d)
}

/*TEMPLATE STYLE*/
.main-container{
  width: 100%;
  height:100%;
  display: flex;

  .right-container {
    width: 95%;
    background-color: #fafafa;
    .right-inside-container{
      padding:0 30px 30px 30px;
      height: calc(100% - 60px);
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }
    &.first{
      width: 100%;
      height:100%;
      .right-inside-container{
        width: 100%;
        height:100%;
        padding: 0;
        overflow: hidden;
      }
    }
  }

}
/**********/
/*GENERAL ELEMENTS*/
/*-------------INPUTS------------------*/
.large-input{
  width: 100%;
  label{
    width: 100%;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #00897B;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
.checkbox {
  padding-left: 20px;
}
label {
  padding-right: 15px;
  color: #34495e;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.custom-input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: $white;
  -webkit-appearance: none;
  border: 1px solid #e9e9e9;
  padding: 16px;
  color: $dark-grey;
  position: relative;
  margin-bottom: 0;

  &:focus {
    outline: none;
    background-color: #e9e9e9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & + .arrow-down {
      transform: rotate(-135deg);
      top: 19px;

      & + .dropdown-container {
        display: block;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }


}

.masonry {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  img{
    width: 32%;
    min-width: 300px;
    height:300px;
    object-fit:cover;
    transition: .8s opacity;
    margin-bottom:15px;
    margin-right: 10px;
  }
}
.alert-danger{
  width: 100%;
}
/*-----------END INPUTS-------------*/

/*BUTTONS*/

.custom-button {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  border:none;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
  &:hover{
    cursor:pointer;
  }
}
.action-icons{
  width: 100%;
  display: flex;
  margin: 15px 0;
  align-items: center;
  i{
    margin-right: 15px;
    color: $main-blue;
    font-size: 2em;
  }
  &:hover{
    cursor: pointer;
  }
  &:active, &:focus{
    outline: none;
  }
}
.custom-button[disabled] {
  background-color: #fafafa;
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
  &:hover{
    cursor: default;
  }
}

app-form{
  width: 100%;
}



/*test*/

.main-container.resize{
  app-left-menu{
    width: 5%;
  }
  .right-container.expand{
    display: none !important;
    width:0 !important;
  }
  .toggle{
    width:100%;
  }
}


.simple-dropdown {
  width: 100%;
  position: relative;

  .simple-input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    background-color: $white;
    -webkit-appearance: none;
    border: 1px solid #e9e9e9;
    padding: 16px;
    color: $dark-grey;
    position: relative;
    margin-bottom: 0;

    &:focus {
      outline: none;
      background-color: #e9e9e9;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      & + .arrow-down {
        transform: rotate(-135deg);
        top: 19px;

        & + .dropdown-container {
          display: block;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }


  }



  .dropdown-container {
    max-height: 300px;
    overflow: auto ;
    list-style-type: none;
    border: 1px solid #e9e9e9;
    border-top: none;
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    animation: show-dropdown 0.3s ease-in-out;
    position: relative;
    z-index: 99999;
    li {
      padding: 12px 16px;
      color: $dark-grey;
      font-weight: 400;
      font-size: 14px;


      &:not(:last-of-type) {
        border-bottom: 1px solid #E9E9E9;
      }

      &:hover {
        cursor: pointer;
        background-color: #fafafa;
      }
    }
  }
}

.arrow-down {
  width:10px;
  border: solid $main-blue;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: 14px;
  right: 16px;
  transition: all 0.3s;

  &.rotate {
    transform: rotate(225deg);
    top: 20px;
  }
}
