@import "../app.component.scss";

.left-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  //background: linear-gradient(135deg, #a6c0fe, #f68084);
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }
  .left-inside{
    min-height: 420px;
    animation: show .9s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    i{
      color: #B2DFDB;
      margin-right: 5px;
    }
    .profile-picture{
      min-height: 150px;
    }
  }

  .icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    i{
      font-size: 25px;
      color: #fff;
      transition: all 0.7s;
      &:hover{
        cursor: pointer;
      }
      &.rotate{
        transform: rotate(-180deg);
      }
    }
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 0 0 20px 0;
    text-align: center;
    color: white;
  }
  .action-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 15px 0;
      padding: 10px;
      border-radius: 4px;
      &:focus{
        outline: none;
      }
      &.active{
        background-color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        border-radius: 4px;
        border:none;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
        a,i{
         color: $main-blue;
        }
      }
      &:hover {
        cursor: pointer;
        &:not(.active) {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
      a {
        width: calc(100% - 25px);
        text-align: left;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
      }
    }
  }
  .custom-button{
    width:80%;
    font-size: 15px;
    margin-top: 20px;
    background-color: $white;
    color: $dark-grey;

  }
  &.hide{
    display: none;
  }
}


.hided-inside{
  display: none;
  animation: show .9s;
  .profile-picture {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    background-size: 35px auto;
  }
  .action-list{
    li {
      width: 35px;
      height:35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        font-size: 1em;
        color: $white;
      }
      &.active{
        border-radius: 50%;
      }
    }
  }
  &.show{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@keyframes show {
  0%{
    opacity: 0;
  }
  30%{opacity: 0.3}
  100%{
    opacity:1;}
}
@media (max-width: 800px){
  .left-inside{
    display: none !important;
  }
  .hided-inside{
    display: block !important;
  }
  .icon-container{
    justify-content: center;;
  }
  i.fa-angle-left{
    transform: rotate(180deg);
  }
}
