.left-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  //background-color: #00897B;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  //background: url('../../assets/images/ixons-01.png') repeat;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  transition: width .3s;

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }
  .left-inside{
    min-height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    i{
      color: #B2DFDB;
      margin-right: 5px;
    }
    .profile-picture{
      min-height: 150px;
    }
    .action-list{
      width: 170px;
    }
  }
  .hided-inside{
    display: none;
    .profile-picture {
      width: 35px;
      height: 35px;
      min-width: 35px;
      min-height: 35px;
      background-size: 35px auto;
    }
    li i{
      margin-bottom: 10px;
      font-size: 20px;
    }
    li:first-child i {
      color: #fff;
    }
    &.show{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    i{
      font-size: 25px;
      color: #fff;
      transition: all 0.7s;
      &:hover{
        cursor: pointer;
      }
      &.rotate{
        transform: rotate(-180deg);
      }
    }
  }
  h2 {
    font-family: 'Roboto';
    font-weight: 200;
    padding-top: 10px;
    text-align: center;
    color: white;
  }
  .action-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
    li{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0 5px 0;
      &:hover{
        cursor: pointer;
      }
      a{
        width: calc(100% - 25px);
        text-align: left;
        text-decoration: none;
        color: #ffffff;
      }
      &.active{
        a , i{
          color: #E2E68A;
        }
      }
    }
  }
  .custom-button{
    font-size: 15px;
    margin-top: 20px;
    background-color: #fff;
    color: #95a5a6;
    &:hover{
      background-color: #fafafa;
    }
  }
  &.hide{
    display: none;
  }
}


