<section class="left-container">
  <div class="icon-container">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </div>
  <div class="left-inside">
    <div class="profile-picture"></div>
    <h2>Andra Spiridon</h2>
    <a class="custom-button" href="add-memory.html">Add Memory</a>

    <ul class="action-list">
      <li class="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="timeline.html">Home</a>
      </li>
      <li>
        <i class="fa fa-tag" aria-hidden="true"></i>
        <a href="tagged.html">Tagged</a>
      </li>
      <li>
        <i class="fa fa-users" aria-hidden="true"></i>
        <a href="friends.html">Friends</a>
      </li>
      <li>
        <i class="fa fa-cog" aria-hidden="true"></i>
        <a routerLink="settings" routerLinkActive="true">Settings</a>
      </li>
      <li>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <a (click)="logout()">Log out</a>
      </li>

    </ul>
  </div>
  <div class="hided-inside">
    <div class="profile-picture"></div>
    <ul class="action-list">
      <li>
        <a href="add-memory.html">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </li>
      <li class="active">
        <a href="timeline.html">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="tagged.html">
          <i class="fa fa-tag" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="friends.html">
          <i class="fa fa-users" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="settings.html">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="index.html">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>

</section>
<script src="../../assets/js/timeline.js"></script>
