<div class="simple-dropdown">
  <input type="text" placeholder="Search" class="simple-input" id="dropdown"  name="dropdown" #dropdown="ngModel" [(ngModel)]="searchType" (click)="setToggle($event)" readonly="readonly">
  <label for="dropdown" class="arrow-down" [ngClass]="{'rotate': toggle }"></label>
  <ul class="dropdown-container" *ngIf="toggle===true" >
    <li (click)="setSearch('tag')"><a>Tag</a></li>
    <li (click)="setSearch('friends')"><a>Your Friends</a></li>
    <li (click)="setSearch('newFriends')"><a>New Friends</a></li>
    <li *ngFor="let item of dropdownContent" (click)="setText(item.name)">{{item.name}}</li>
  </ul>
</div>

<form #search="ngForm">
  <input type="text" placeholder="word" class="custom-input" id="searchWord" required="required" name="searchWord" #searchWord="ngModel"  ngModel>
  <button type="button" (click)="searchW(search.value)">Press here to search</button>
</form>

<div class="results" *ngIf="searchType==='tag'">
  <div class="memory" *ngFor="let memory of array">
    <img [src]="memory.mainPicture" class="memory-header">
    <div class="memory-body">
      <ul class="action-list">
        <li class="action-see" (click)="seeMemory(memory.memoryId, memory.title, memory.memoryLocation, memory.mainPicture, memory.description,memory.date)" routerLink="../memories">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>See more</h5>
        </li>
      </ul>
      <div class="memory-title">
        <h3>{{memory.title}}</h3>
        <h5>{{memory.memoryLocation}}</h5>
        <h6>{{memory.date}}</h6>
      </div>
      <div class="memory-text">
        <span>{{memory.description}}</span>
      </div>
    </div>
  </div>
</div>
<!--aici o sa punem rezultatele-->

<div class="results" *ngIf="searchType==='friends' && notEmpty===false">
  <div class="tile" *ngFor="let friend of array" >
    <img [src]="friend.profilePicture" class="profile-picture">
    <div class="info-container">
      <h2>{{friend.name}}</h2>
      <h3>{{friend.city}} {{friend.country}}</h3>
      <h5>Friends from: {{friend.dateFriends}}</h5>
      <ul class="action-list">
        <li class="action-delete" (click)="deleteFriend(friend.username)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <h5>Delete</h5>
        </li>
        <li class="action-edit" (click)="viewMore(friend.username)">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>View timeline</h5>
        </li>
      </ul>

    </div>
  </div>
</div>



<div class="results" *ngIf="searchType==='newFriends' && notEmpty===false">
  <div class="tile" *ngFor="let friend of array" >
    <img [src]="friend.profilePicture" class="profile-picture">
    <div class="info-container">
      <h2>{{friend.name}}</h2>
      <h3>{{friend.city}} {{friend.country}}</h3>
      <h5>Date of birth: {{friend.dateFriends}}</h5>
      <ul class="action-list">
        <li div class="action-add" (click)="addFriend(friend.username)">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          <h5>Add friend</h5>
        </li>

        <li class="action-edit" (click)="viewMore(friend.username)">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>View timeline</h5>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="results" *ngIf="searchType==='friends' &&notEmpty===true">
  <i class="fa fa-angle-left" aria-hidden="true" (click)="changeEmpty()"></i>
  <div class="memory" *ngFor="let memory of friendMemories">
    <img [src]="memory.mainPicture" class="memory-header">
    <div class="memory-body">
      <ul class="action-list">
        <li class="action-see" (click)="seeMemory(memory.memoryId, memory.title, memory.memoryLocation, memory.mainPicture, memory.description,memory.date)" routerLink="../memories">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>See more</h5>
        </li>
      </ul>
      <div class="memory-title">
        <h3>{{memory.title}}</h3>
        <h5>{{memory.memoryLocation}}</h5>
        <h6>{{memory.date}}</h6>
      </div>
      <div  *ngFor="let tag of memory.tags">
        <h4>{{tag}}</h4>
      </div>
      <div class="memory-text">
        <span>{{memory.description}}</span>
      </div>
    </div>
  </div>

</div>

<div class="results" *ngIf="searchType==='newFriends' &&notEmpty===true">
  <i class="fa fa-angle-left" aria-hidden="true" (click)="changeEmpty()"></i>
  <div class="memory" *ngFor="let memory of friendMemories">
    <img [src]="memory.mainPicture" class="memory-header">
    <div class="memory-body">
      <ul class="action-list">
        <li class="action-see" (click)="seeMemory(memory.memoryId, memory.title, memory.memoryLocation, memory.mainPicture, memory.description,memory.date)" routerLink="../memories">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h5>See more</h5>
        </li>
      </ul>
      <div class="memory-title">
        <h3>{{memory.title}}</h3>
        <h5>{{memory.memoryLocation}}</h5>
        <h6>{{memory.date}}</h6>
      </div>
      <div  *ngFor="let tag of memory.tags">
        <h4>{{tag}}</h4>
      </div>
      <div class="memory-text">
        <span>{{memory.description}}</span>
      </div>
    </div>
  </div>

</div>

<div class="my-alert alert-ok" *ngIf="alert===true" (click)="alert=false">
  <div class="alert-body">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    <h4>Prietenul a fost adaugat</h4>
  </div>
  <h6>(click to close)</h6>
</div>

<div class="my-alert alert-error" *ngIf="alertMem===true" (click)="alertMem=false">
    <div class="alert-body">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <h4>Userul nu are memorii</h4>
    </div>
    <h6>(click to close)</h6>
</div>

<div class="my-alert alert-error" *ngIf="alert2===true" (click)="alert2=false">
  <div class="alert-body">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <h4>Prietenul a fost sters</h4>
  </div>
  <h6>(click to close)</h6>
</div>

<div class="my-alert alert-error" *ngIf="aux===true" (click)="aux=false">
  <div class="alert-body">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <h4>There where no results found.</h4>
  </div>
  <h6>(click to close)</h6>
</div>
