<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Aici apesi sa selectezi ce cauti
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li (click)="setSearch('tag')"><a>Tag</a></li>
    <li (click)="setSearch('friends')"><a>Your Friends</a></li>
    <li (click)="setSearch('newFriends')"><a>New Friends</a></li>
  </ul>
</div>
<br>
<form #search="ngForm">
  <input type="text" placeholder="word" class="custom-input" id="searchWord" required="required" name="searchWord" #searchWord="ngModel"  ngModel>
  <button type="button" (click)="searchW(search.value)">Press here to search</button>
</form>

<div class="results" *ngIf="searchType==='tag'">
  <div class="memory" *ngFor="let memory of array">
    <img [src]="memory.mainPicture" class="memory-header">
    <div class="memory-body">
      <ul class="action-list">
        <li class="action-edit">
          <i class="glyphicon glyphicon-pencil"></i>
          <h5>Edit</h5>
        </li>
        <li class="action-delte">
          <i class="glyphicon glyphicon-trash"></i>
          <h5>Delete</h5>
        </li>
        <li class="action-see">
          <i class="glyphicon glyphicon-eye-open"></i>
          <h5>See more</h5>
        </li>
      </ul>
      <div class="memory-title">
        <h3>{{memory.title}}</h3>
        <h5>{{memory.memoryLocation}}</h5>
        <h6>{{memory.date}}</h6>
      </div>
      <div class="memory-text">
        <span>{{memory.description}}</span>
      </div>
    </div>
  </div>
</div>
<!--aici o sa punem rezultatele-->

<div class="results" *ngIf="searchType==='friends'">
  <div class="tile" *ngFor="let friend of array" >
    <img [src]="friend.profilePicture" class="profile-picture">
    <div class="info-container">
      <h2>{{friend.name}}</h2>
      <h3>{{friend.city}} {{friend.country}}</h3>
      <h5>Friends from: {{friend.dateFriends}}</h5>
      <div class="action-delete">
        <i class="glyphicon glyphicon-trash"></i>
        <h5>Delete</h5>
      </div>
    </div>

  </div>
</div>

<div class="results" *ngIf="searchType==='newFriends'">
  <div class="tile" *ngFor="let friend of array" >
    <img [src]="friend.profilePicture" class="profile-picture">
    <div class="info-container">
      <h2>{{friend.name}}</h2>
      <h3>{{friend.city}} {{friend.country}}</h3>
      <h5>Friends from: {{friend.dateFriends}}</h5>
      <div class="action-add" (click)="addFriend(friend.username)">
        <i class="glyphicon glyphicon-add"></i>
        <h5>Add friend</h5>
      </div>
    </div>

  </div>
</div>


<div class="alert-friends" *ngIf="alert===true">
  <i class="glyphicon glyphicon-ok-sign"></i>
  <h5>Prietenul a fost adaugat</h5>
</div>
