<div class="main-container">
  <app-left-menu></app-left-menu>
  <div class="right-container">
    <app-header></app-header>
    <div class="right-inside-container">
      <form #settingsForm="ngForm"  class="form-group">
        <div class="change-profile-picture">
         <input type="file"  name="profile" class="large-input" ngModel>

        </div>
        <div class="input-pair">
          <div class="custom-input">
            <label>Name</label>
            <input type="text"  name="name" class="large-input"  [(ngModel)]="_name">
          </div>
          <div class="custom-input">
            <label>Username</label>
            <input type="text" name="username"  [(ngModel)]="_username">
          </div>
        </div>

        <div class="input-pair">
          <div class="custom-input">
            <label>New password</label>
            <input type="password" name="password" [(ngModel)]="_password">
          </div>
          <div class="custom-input">
            <label>Confirm password</label>
            <input type="password" name="confirm-password"  [(ngModel)]="_password">
          </div>
        </div>
        <div class="input-pair">
          <div class="custom-input">
            <label>Email</label>
            <input type="text" name="email"  [(ngModel)]="_email">
          </div>
          <div class="custom-input">
            <label>Date of birth</label>
            <input type="date" name="dateOfBirth" value="18 Iunie 1996" [(ngModel)]="_dateOfBirth">
          </div>
        </div>
        <div class="input-pair">
          <div class="custom-input">
            <label>Country</label>
            <input type="text" name="country" value="Romania" [(ngModel)]="_country">
          </div>
          <div class="custom-input">
            <label>City</label>
            <input type="text" name="city" value="Iasi" [(ngModel)]="_city">
          </div>
        </div>
        <div class="large-input">
          <label>Gender</label>
        <input type="text"  name="gender" [(ngModel)]="_gender">
        </div>
        <button class="save-button" (click)="submitSettings(settingsForm.value)">Save changes</button>
      </form>

    </div>
  </div>
</div>
