@import "../app.component.scss";
.buttons-container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .custom-button{
    background-color: $main-green;
    margin-top: 20px;
  }
}
