<header>

  <i class="fa fa-search" aria-hidden="true" routerLink="../search"></i>
  <div class="logo">
    <h1>Digital Legacy Box</h1>
  </div>
  <div class="custom-notification">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    <span class="counter">4</span>
    <div class="notification-dropdown">
      <div class="notification-header">
        <span class="triangle"></span>
        <h4>Notification</h4>
        <span class="notification-counter">4</span>
      </div>
      <div class="notification-body">
        <div class="notification-row">
          <h5>Madalina Rusu liked your Wedding Memory</h5>
          <h6>24 May, 2017</h6>
        </div>
        <div class="notification-row">
          <h5>Ecaterina M added you to her memory</h5>
          <h6>1 April, 2017</h6>
        </div>
        <div class="notification-row">
          <h5>Alex T commented on your memory</h5>
          <h6>30 March, 2017</h6>
        </div>
      </div>
    </div>
  </div>

</header>

