@import "../app.component.scss";
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 30px 0 30px;

  i{
    color: $main-blue;
    font-size: 1.2em;
    &:hover{
      cursor: pointer;
    }
  }
  .add-circle{
    width:30px;
    height: 30px;
    background-color: $white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  }
  .right-side-header{
    i:first-child{
      margin-right: 15px;
    }
  }
}




