@import "../app.component.scss";
.main-container{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $main-green, $main-blue);
  .icon-container{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/ixons-01.png');
    background-repeat: repeat;
  }
  .wrapper {
    width: 65%;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    padding: 40px;
    background-color: $white;
    border-radius: 5px;
    .forms-container{
      max-height: 80vh;
      overflow-y:auto;
    }

    .buttons-menu{
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      button{
        height: 45px;
        background-color: transparent;
        border: none;
        margin-right: 30px;
        font-size: 20px;
        box-sizing: border-box;
        &:focus{
          outline: none ;
          -webkit-appearance: none;
        }
      }
    }
  }
}
.my-class {
    border-bottom: 3px solid #00897B !important;
    pointer-events: none;
}
@media (max-width: 900px){
  .icon-container{
    padding: 40px;
  }
  .wrapper{
    width:100%;
    background-color:transparent;
    box-shadow: none;
  }
  .buttons-menu button{
    color: #FFFFFF;
  }
  .my-class{
    border-color: #FFFFFF !important;
  }
}
@media (min-width:900px){
  .buttons-menu button:hover{
  border-bottom: 3px solid #00897B !important;
}
}




