<div  class="acordion-item"><h4>Main Details</h4></div>
<div class="results-container" *ngIf="step==='1'">
  <form #addMemory="ngForm">
    <input  type="file"
            id="profile"
            name="profile"
            class="custom-input"
            enctype="multipart/form-data"
            (change)="onChange($event)"
            ngModel>
    <input type="text"
           placeholder="Title"
           class="custom-input"
           id="title"
           required="required"
           name="title"
           #title="ngModel"
           ngModel
           minlength="4"
           maxlength="30">
    <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
      <div [hidden]="!title.errors.required">Title is required</div>
      <div [hidden]="!title.errors.minlength">Title must be 4 characters long</div>
      <div [hidden]="!title.errors.maxlength">Title must have maxim 30 characters</div>
    </div>
  <textarea
    type="text"
    placeholder="Add a description"
    class="custom-input"
    id="description"
    required="required"
    name="description"
    #description="ngModel"
    ngModel
    minlength="4"></textarea>
    <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
      <div [hidden]="!description.errors.required">Description is required</div>
      <div [hidden]="!description.errors.minlength">Description must be 4 characters long</div>
    </div>
  <input
    type="text"
    placeholder="City, Country"
    class="custom-input"
    id="location"
    required="required"
    name="location"
    #location="ngModel"
    ngModel
    minlength="4"
    maxlength="30"
    pattern="[A-Za-z]{4,}(, )[A-Za-z]{4,}">
    <div *ngIf="location.errors && (location.dirty || location.touched)" class="alert alert-danger">
      <div [hidden]="!location.errors.required">Location is required</div>
      <div [hidden]="!location.errors.minlength">Location must be 4 characters long</div>
      <div [hidden]="!location.errors.maxlength">Location must have maxim 30 characters</div>
      <div [hidden]="!location.errors.pattern">Location must be the type 'City, Country'</div>
    </div>
  <input
    type="date"
    placeholder="Date"
    class="custom-input"
    id="date"
    required="required"
    name="date"
    #date="ngModel"
    ngModel >
    <div *ngIf="date.errors && (date.dirty || date.touched)" class="alert alert-danger">
      <div [hidden]="!date.errors.required">Location is required</div>
    </div>

  <div class="simple-dropdown">
    <input type="text"
           placeholder="Privacy"
           class="simple-input"
           id="privacy"
           name="privacy"
           #privacy="ngModel"
           [(ngModel)]="text"
           (click)="setToggle($event)"
           readonly="readonly">
    <label for="privacy" class="arrow-down" [ngClass]="{'rotate': toggle }"></label>
    <ul class="dropdown-container" *ngIf="toggle===true" >
      <li (click)="setSearch('private')"><a>Private</a></li>
      <li (click)="setSearch('public')"><a>Public</a></li>
      <li (click)="setSearch('only friends')"><a>Only Friends</a></li>
    </ul>
  </div>

    <button class="custom-button" (click)="submitMemory(addMemory.value)" [disabled]='!addMemory.form.valid'>Next Step</button>

  </form>
</div>


<div  class="acordion-item"><h4>Add Media</h4></div>
<div class="results-container" *ngIf="step==='2'">
  <form #addMedia="ngForm">
    <input  type="file" id="pictures" name="pictures" class="custom-input" enctype="multipart/form-data"
            (change)="onChangeMedia($event)" ngModel>

    <div class="images" *ngIf="type==='image'">
      <span *ngFor="let image of files2" class="media">
        <img [src]="image"   class="profile-picture"  >
         <!--<video width="400"   *ngIf="type==='video'"  controls>-->
            <!--<source [src]="image" >-->
          <!--</video>-->
      </span>
      <span *ngFor="let image of files2" class="media">
        <!--<video width="400"   *ngIf="type==='video'"  controls>-->
        <!--<source [src]="image" >-->
        <!--</video>-->
      </span>
    </div>
    <button class="custom-button" (click)="submitMedia()">Next Step</button>
  </form>
</div>

<div (click)="setStep('3')" class="acordion-item"><h4>Add Tags</h4></div>
<div class="results-container" *ngIf="step==='3'">
  <form #addTags="ngForm">
    <input type="text"
           placeholder="tags"
           class="custom-input"
           id="tags"
           name="tags"
           #tags="ngModel"
           ngModel
           pattern="((#){1}[A-Za-z]+)+">
    <div *ngIf="tags.errors && (tags.dirty || tags.touched)" class="alert alert-danger">
      <div [hidden]="!tags.errors.pattern">The format must be '#tag1#tag2#tag3...'</div>
    </div>
    <button class="custom-button" (click)="submitTags(addTags.value)" [disabled]='!addTags.form.valid'>Next Step</button>
  </form>
</div>

<div  class="acordion-item"><h4>Tagged Friends</h4></div>
<div class="results-container" *ngIf="step==='4'">
  <div class="tags-container">
    <div class="tag" *ngFor="let friend of names">
      <h4>{{friend}}</h4>
    </div>
  </div>
  <form #addFriends="ngForm" >
    <div class="simple-dropdown">
      <input type="text" placeholder="Privacy" class="simple-input" id="tagged"  name="tagged" #tagged="ngModel" ngModel (click)="setToggle($event)" readonly="readonly">
      <label for="tagged" class="arrow-down" [ngClass]="{'rotate': toggle }"></label>
      <ul class="dropdown-container" *ngIf="toggle===true" >
        <li *ngFor="let friend of friends" (click)="selectFriends(friend.friendId, friend.name)" ><a>{{friend.name}}</a></li>
      </ul>
    </div>
    <button class="custom-button" (click)="submitTagged()" routerLink="../dashboard">Finish</button>
  </form>
</div>



