@import "../app.component.scss";

@media (max-width: 900px){
 label{
      color: #FFFFFF;
 }
 .custom-button{
   background-color: transparent ;
   border: 2px solid #FFFFFF;
 }
}
form{
  margin: 10px 0;
}
