input:focus {
  background: #eeeeee;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #00897B; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
input:hover {
  background: #eeeeee;
}

.checkbox {
  padding-left: 20px;
}
label {
  padding-right: 15px;
  color: #34495e;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fafafa;
  border: 1px solid #E9E9E9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.custom-input {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  width: 100%;
  border: 1px solid #E9E9E9;
}
.custom-button{
  width:50%;
  background-color: #00897B;
  color: #FFFFFF;
}
.custom-button[disabled]{
  background-color: #fafafa;
  color: #eeeeee;
}
.custom-button[disabled]:hover{
  cursor:default;
}
.alert-danger{
  width: 100%;
}
