<form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
  <label for="username">Username</label>
  <input class="large-input" type="text" ngDefaultControl="username" name="username" id="username" placeholder="username" minlength="6" maxlength="30" required="required" ngModel>

  <label for="password">Password</label>
  <input class="form-control" type="password" name="password" id="password" placeholder="password" required ngModel>
  <button type="submit" class="custom-button">Log in</button>
</form>

